/* autoprefixer: off */
@tailwind base;
@tailwind components;
@tailwind utilities;


.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark p, .dark label, .dark input, .dark a, .dark p, .dark span {
  color: #fff;
}

.dark select, .dark option {
  color: #fff;
}
.dark .text-du-purple-500 a{
  color: #6B26FF;
}

.dark button.bg-du-purple-500 {
  background-color: #9747FF
}

/* TODO: Figure out how translate tailwind syntax */
.search-form-gradient {
  background: linear-gradient(180deg, rgba(130, 105, 212, 0.25) 0%, rgba(132, 136, 225, 0.25) 100%);
}